*{
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

.weather{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    
}